@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

.description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;

}

/* ---------------Header Style---------------------- */
.header-container {
    background: rgba(255, 144, 14, 0.1);
}

/* ---------------Navigation Styles----------------- */
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 230px 0 230px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
}

.nav-items {
    display: flex;
    gap: 20px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    align-items: center;
}

nav li {
    list-style: none;
}

/* ------------------Banner Title Styles--------------------- */

.banner-details {
    align-items: center;
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.btn {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

.banner-image {
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    height: 700px;
    width: 100%;

}

/* --------------------Features Section Style----------------------- */

.feature-section {
    margin: 50px 150px;
}

.feature-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;

}

.feature-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.feature-title {
    font-weight: 700;
    font-size: 45px;
}

/* ----------------------feature lists Styles------------------------- */
.feature-list-section {
    margin: 80px 100px 100px 150px;

}

.f-list-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
    /* margin: 50px; */
}

.f-list-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-left: 20px;
    margin-right: 150px;
}

.course-container {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 15px;

}

.course-details {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 0 20px;
    margin: 0;

}

.course-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.archi-image {
    background: url(../images/architect.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    height: 900px;
    width: 100%;
}

.btn2 {
    width: 170px;
    height: 100px;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;

}

/* -----------------------------Data section styles----------------*/
.data-section {
    margin-left: 160px;
    margin-right: 120px;
    /* background: lightblue; */
}

.data-info {
    /* background: lemonchiffon; */
    padding: 15px;
    margin-right: 700px;
    text-align: left;
}

.data-title {
    font-size: 45px;
    font-weight: 700;
}

.data {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.data-details {
    background: #FFFFFF;
    width: 210px;
    height: 210px;
    border: 2px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding-top: 50px;

}

/* ------------------------Sponsors Section styles----------------- */

.sponsor-section {
    margin: 30px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.sponsor-container {
    text-align: center;
}

.sponsor-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.sponsor-logos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-column-gap: 20px; */
    padding-left: 40px;
    padding-right: 40px;

}
    











/*--------------------Media Query For Mobile-------------------*/
/* ----------------------------------------------------------- */
@media screen and (max-width: 576px) {

    /* -------------for nav---------- */
    .nav-container,
    .nav-items {
        flex-direction: column;
        padding-left: 50px;

    }

    /* -------------for banner--------- */
    .banner-image {
        background-size: 90%;
        background-position: top center;
        height: 210px;
        margin-top: 20px;
    }

    .banner-details {
        margin: 0 10px 10px 10px;
    }

    /* --------------for feature----------- */
    .feature-container {
        flex-direction: column;
        align-items: center;
    }

    .feature-image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 24px;
    }

    .feature-details {
        text-align: center;
        width: 300px;
        height: 400px;
    }

    /* ------------------list feature---------- */
    .feature-list-section {
        margin: 10px;
    }

    .f-list-container {
        flex-direction: column;
        gap: 50px;

    }

    .f-list-title {
        margin-right: 60px;
    }

    .course-container {
        margin: 15px;
    }

    .archi-image {
        width: 350px;
        height: 600px;
    }

    /* --------------------Data section------------------- */
    .data-info {
        padding: 15px;
        margin-right: 0;
    }

    .data-section {
        margin: 0;
    }

    .data {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    /* ------------------------Sponsors Section styles----------------- */

    .sponsor-section {
        padding: 30px;
        margin: 0;
    }
    .sponsor-logos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
        justify-items: center;}
}






/*--------------------Media Query For Tab-------------------*/
/* ----------------------------------------------------------- */
@media screen and (min-width: 577px) and (max-width: 992px) {

    /* -------------for nav---------- */
    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    /* -------------for banner--------- */
    .banner-image {
        background-size: 85%;
        background-position: top center;
        height: 410px;
        margin-top: 20px;
    }

    .banner-details {
        margin-top: -40px;
    }

    /* --------------for feature----------- */
    .feature-container {
        flex-direction: column;
        align-items: center;
    }

    .feature-details {
        text-align: center;
    }

    /* --------------------list feature--------------- */
    .feature-list-section {
        margin: 10px;
    }

    .f-list-container {
        flex-direction: column;
        gap: 50px;

    }

    .f-list-title {
        margin-right: 60px;
    }

    .course-container {
        margin: 15px;
    }

    .archi-image {
        width: 550px;
        height: 650px;
    }

    /* --------------------Data section------------------- */
    .data-info {
        padding: 30px;
        margin-right: 0;
    }

    .data-section {
        margin: 0 40px 40px 40px;
    }

    .data {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }

    /* ------------------------Sponsors Section styles----------------- */
    .sponsor-logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 20px;
        justify-items: center;
    }


}